
   
<div class = "header">
	<div id = "header-wrapper">
		<div class = "site-title"><strong>Ven-Owe</strong></div>
		<div id = "logout-header-nav">
			<!--this is the place to show the username and logout-->
			<div id = "wrapper-account-name">
				<div id = "account-name">Account: 
				</div>
			</div>
            <div id = "wrapper-logout">
				<button type="submit" class="btn btn-primary" style ="display:inline-block;">Log out</button>
		   </div>
		</div>
	</div>
</div>
<%= form_for [@payment] do |f| %>
<div id = "container-wrapper">
	<div class = "highlight">
		<div id = "pay-container">
			<div id = "paytosome-container">
				<div class = "input-group" style = "margin-left:23px">
					<button style =" height:29px; width:100px">Pay</button>
					<<!-- input type="text" class= "input-large" style = "margin-left:-4px; margin-top:10px;height:21px; width:450px" placeholder="Pay to Someone"> -->
					<%= f.text_field :receiver_id%>
				</div>
				<div id = "amount-container">
					<!-- <textarea id = "payment-message" placeholder = "$10 for blahblahblah"></textarea> -->
					<%= f.text_field :amount %>	
				</div>
				<div id = "send-message-container">
				    <div id = "haha">
					<button class = "btn btn-inverse" style= "float:right">send</button></div>
				</div>
				<div id = "display-message-container">
					
				</div>
			</div>

			

			
		</div>
	</div>
</div>
<% end %>




 	
