#logout-header-nav {
	display: block;
	float: right;
	width: 310px;
	margin-top: 15px;
}
#wrapper-account-name {
	width: 200px;
	display:inline-block;
}
#account-name {
	color:	#FFFFFF;
    font-size: 15px;
    display:inline-block;
}

#wrapper-logout {
	display:inline-block;
	width: 100px;
}

.highlight {
	padding: 9px 14px;
	margin-bottom: 14px;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
	border-radius: 4px;
	webkit-border-radius:4px;
	moz-border-radius:4px;
}

#pay-container {
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-top: 1px solid #CCCCCC;
	width: 700px;
}
#payment-message {
	margin-left: 70px;
	margin-top: -11px;
	width: 551px;
}

#send-message-container {
	border-left:1px solid #CCCCCC;
	border-right:1px solid #CCCCCC;
	border-bottom:1px solid #CCCCCC;
	margin-left: 70px;
	margin-top: -11px;
	width:551px;
}
