<div class="footer">
  <%= link_to_if !current_page?(new_payment_path), 'Create Payment', new_payment_path %> &nbsp;|&nbsp;
  <%= link_to_if !current_page?(relationships_path), 'View Balances', relationships_path %> &nbsp;|&nbsp;
  <%= link_to_if !current_page?(payments_path), 'View Payments', payments_path %> &nbsp;|&nbsp;
</div>